$blue: #497098;

body, html {
  background: white;
}

h1, h2, h3, h4, p {
  // color: white;
}
#amd-weather-app {
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.form-control {
  max-width: 250px;
  margin: 10px auto;
}
