$blue: #a2aab0;
$darkblue: #4c586f;
$beige: #cbc5ci;
$lightgrey: #ebeced;
$darkgrey: #3e3e3b;


// Typography
a,
a:hover {
  color: $blue;
}

#amd-weather-app {
  text-align: center;
  height: 100vh;

  .row {
    height: 100%;
  }

  .amd-left-col,
  .amd-right-col {
    padding: 45px 30px;
  }

  .amd-left-col {
    background: $lightgrey;
  }
  .amd-right-col {
    background: $blue;

    h1 {
      color: white;
      font-weight: 100;
      text-transform: lowercase;
    }
  }
}

.form-control {
  max-width: 250px;
  margin: 10px auto;
}

.amd-error {
  margin: 20px 0;
}

.amd-footer {
  margin-top: 20px;
  text-align: center;
}
